etc/iqmate/nodered/lib/flows/Waveshare Modbus POE ETH Relay (B).json
[
    {
        "id": "cf68699942a9c91b",
        "type": "inject",
        "z": "fdf74b56c6748c2d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 670,
        "y": 180,
        "wires": [
            [
                "5820f471c90b06f6"
            ]
        ]
    },
    {
        "id": "2e8a8a8c72337c54",
        "type": "inject",
        "z": "fdf74b56c6748c2d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 670,
        "y": 140,
        "wires": [
            [
                "acc5d7814352db79"
            ]
        ]
    },
    {
        "id": "7f0b348014fecc08",
        "type": "inject",
        "z": "fdf74b56c6748c2d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 670,
        "y": 220,
        "wires": [
            [
                "bc852a5846ee91ae"
            ]
        ]
    },
    {
        "id": "a89e457de24803fa",
        "type": "inject",
        "z": "fdf74b56c6748c2d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 670,
        "y": 260,
        "wires": [
            [
                "a77fa64fa6960de1"
            ]
        ]
    },
    {
        "id": "25e7d5ac1dee8d54",
        "type": "inject",
        "z": "fdf74b56c6748c2d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 670,
        "y": 300,
        "wires": [
            [
                "4c60a4c02c674654"
            ]
        ]
    },
    {
        "id": "d3dc28727bd0c0ba",
        "type": "inject",
        "z": "fdf74b56c6748c2d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 670,
        "y": 380,
        "wires": [
            [
                "60dac7be4c0ae9b8"
            ]
        ]
    },
    {
        "id": "d46bae6f2808700d",
        "type": "inject",
        "z": "fdf74b56c6748c2d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 670,
        "y": 340,
        "wires": [
            [
                "76aead7bd00dc6c0"
            ]
        ]
    },
    {
        "id": "515f7da3f0599ee8",
        "type": "inject",
        "z": "fdf74b56c6748c2d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 670,
        "y": 420,
        "wires": [
            [
                "500645bca5d40d97"
            ]
        ]
    },
    {
        "id": "79de843293d7b61b",
        "type": "group",
        "z": "fdf74b56c6748c2d",
        "name": "Waveshare Modbus Inputs",
        "style": {
            "label": true
        },
        "nodes": [
            "050a36539cb4a60e",
            "799e69d16a7ddcc9",
            "f54a75b36f26b380",
            "995ec097a882306e",
            "f016591933bd639d",
            "f106e56978f94314",
            "0ade26295503288b",
            "d43814843498f85e",
            "13221a3e2435e24f"
        ],
        "x": 114,
        "y": 99,
        "w": 392,
        "h": 362
    },
    {
        "id": "8e57b4bfe258b915",
        "type": "subflow",
        "name": "Waveshare Input",
        "info": "Waveshare Input Monitor\r\n\r\nReturns a msg.payload when an input status change ( ex. 'Open' =>'Closed').\r\nInput values are monitored as boolean true/false.\r\n",
        "category": "",
        "in": [
            {
                "x": 160,
                "y": 180,
                "wires": [
                    {
                        "id": "4fda3be8cc6ffd97"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 800,
                "y": 180,
                "wires": [
                    {
                        "id": "26f1235946269697",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "inputNumber",
                "type": "num",
                "value": "1",
                "ui": {
                    "label": {
                        "en-US": "Input Number"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "num"
                        ]
                    }
                }
            }
        ],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "26f1235946269697",
        "type": "rbe",
        "z": "8e57b4bfe258b915",
        "name": "Filter for Value Change",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 620,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "4fda3be8cc6ffd97",
        "type": "function",
        "z": "8e57b4bfe258b915",
        "name": "Get Element from inputNumber",
        "func": "let arr = msg.payload;\nlet i = env.get('inputNumber');\n\nif (Array.isArray(arr) && i > 0 && i <= arr.length) {\n    msg.payload = arr[i - 1];\n} else {\n    node.error(`Waveshare Input ${i}: Invalid index or payload is not an array. Current input: ${arr}.`, msg);\n    return null;\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 180,
        "wires": [
            [
                "26f1235946269697"
            ]
        ],
        "info": "Get Element from Input_Number"
    },
    {
        "id": "050a36539cb4a60e",
        "type": "modbus-read",
        "z": "fdf74b56c6748c2d",
        "g": "79de843293d7b61b",
        "name": "Input Sampler",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "unitid": "",
        "dataType": "Input",
        "adr": "0",
        "quantity": "8",
        "rate": "1",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "43b5b9c54e908a3a",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 230,
        "y": 280,
        "wires": [
            [
                "f016591933bd639d",
                "995ec097a882306e",
                "f54a75b36f26b380",
                "799e69d16a7ddcc9",
                "f106e56978f94314",
                "0ade26295503288b",
                "d43814843498f85e",
                "13221a3e2435e24f"
            ],
            []
        ]
    },
    {
        "id": "799e69d16a7ddcc9",
        "type": "subflow:8e57b4bfe258b915",
        "z": "fdf74b56c6748c2d",
        "g": "79de843293d7b61b",
        "name": "Input 4",
        "env": [
            {
                "name": "inputNumber",
                "value": "4",
                "type": "num"
            }
        ],
        "x": 430,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "f54a75b36f26b380",
        "type": "subflow:8e57b4bfe258b915",
        "z": "fdf74b56c6748c2d",
        "g": "79de843293d7b61b",
        "name": "Input 3",
        "env": [
            {
                "name": "inputNumber",
                "value": "3",
                "type": "num"
            }
        ],
        "x": 430,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "995ec097a882306e",
        "type": "subflow:8e57b4bfe258b915",
        "z": "fdf74b56c6748c2d",
        "g": "79de843293d7b61b",
        "name": "Input 2",
        "env": [
            {
                "name": "inputNumber",
                "value": "2",
                "type": "num"
            }
        ],
        "x": 430,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "f016591933bd639d",
        "type": "subflow:8e57b4bfe258b915",
        "z": "fdf74b56c6748c2d",
        "g": "79de843293d7b61b",
        "name": " Input 1",
        "x": 430,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "f106e56978f94314",
        "type": "subflow:8e57b4bfe258b915",
        "z": "fdf74b56c6748c2d",
        "g": "79de843293d7b61b",
        "name": "Input 5",
        "env": [
            {
                "name": "inputNumber",
                "value": "5",
                "type": "num"
            }
        ],
        "x": 430,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "0ade26295503288b",
        "type": "subflow:8e57b4bfe258b915",
        "z": "fdf74b56c6748c2d",
        "g": "79de843293d7b61b",
        "name": "Input 6",
        "env": [
            {
                "name": "inputNumber",
                "value": "6",
                "type": "num"
            }
        ],
        "x": 430,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "d43814843498f85e",
        "type": "subflow:8e57b4bfe258b915",
        "z": "fdf74b56c6748c2d",
        "g": "79de843293d7b61b",
        "name": "Input 7",
        "env": [
            {
                "name": "inputNumber",
                "value": "7",
                "type": "num"
            }
        ],
        "x": 430,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "13221a3e2435e24f",
        "type": "subflow:8e57b4bfe258b915",
        "z": "fdf74b56c6748c2d",
        "g": "79de843293d7b61b",
        "name": "Input 8",
        "env": [
            {
                "name": "inputNumber",
                "value": "8",
                "type": "num"
            }
        ],
        "x": 430,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "43b5b9c54e908a3a",
        "type": "modbus-client",
        "name": "Waveshare Modbus POE ETH Relay (B)",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": true,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "192.168.1.200",
        "tcpPort": "4196",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true,
        "showErrors": true,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "6c4d2fb2075c540f",
        "type": "group",
        "z": "fdf74b56c6748c2d",
        "name": "Waveshare Modbus Set Up (do this once)",
        "style": {
            "label": true
        },
        "nodes": [
            "7f250cacabc2f12e",
            "e518cafae245cd00",
            "8c3ef1a426bc2b5b"
        ],
        "x": 194,
        "y": 499,
        "w": 652,
        "h": 82
    },
    {
        "id": "7f250cacabc2f12e",
        "type": "inject",
        "z": "fdf74b56c6748c2d",
        "g": "6c4d2fb2075c540f",
        "name": "Set Contol Mode",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 320,
        "y": 540,
        "wires": [
            [
                "e518cafae245cd00"
            ]
        ]
    },
    {
        "id": "e518cafae245cd00",
        "type": "change",
        "z": "fdf74b56c6748c2d",
        "g": "6c4d2fb2075c540f",
        "name": "Control Mode Normal",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"value\":[0,0,0,0,0,0,0,0],\"fc\":16,\"unitid\":1,\"address\":4096,\"quantity\":8}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 540,
        "wires": [
            [
                "8c3ef1a426bc2b5b"
            ]
        ]
    },
    {
        "id": "8c3ef1a426bc2b5b",
        "type": "modbus-flex-write",
        "z": "fdf74b56c6748c2d",
        "g": "6c4d2fb2075c540f",
        "name": "Waveshare Config",
        "showStatusActivities": true,
        "showErrors": true,
        "showWarnings": true,
        "server": "43b5b9c54e908a3a",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 730,
        "y": 540,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "ed63855a7b62263b",
        "type": "group",
        "z": "fdf74b56c6748c2d",
        "name": "Waveshare Modbus Outputs",
        "style": {
            "label": true
        },
        "nodes": [
            "acc5d7814352db79",
            "5820f471c90b06f6",
            "bc852a5846ee91ae",
            "a77fa64fa6960de1",
            "4c60a4c02c674654",
            "76aead7bd00dc6c0",
            "60dac7be4c0ae9b8",
            "500645bca5d40d97"
        ],
        "x": 734,
        "y": 99,
        "w": 185,
        "h": 362
    },
    {
        "id": "acc5d7814352db79",
        "type": "modbus-write",
        "z": "fdf74b56c6748c2d",
        "g": "ed63855a7b62263b",
        "name": "Output 1",
        "showStatusActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "unitid": "",
        "dataType": "Coil",
        "adr": "0",
        "quantity": "1",
        "server": "43b5b9c54e908a3a",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 820,
        "y": 140,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "5820f471c90b06f6",
        "type": "modbus-write",
        "z": "fdf74b56c6748c2d",
        "g": "ed63855a7b62263b",
        "name": "Output 2",
        "showStatusActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "unitid": "",
        "dataType": "Coil",
        "adr": "1",
        "quantity": "1",
        "server": "43b5b9c54e908a3a",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 820,
        "y": 180,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "bc852a5846ee91ae",
        "type": "modbus-write",
        "z": "fdf74b56c6748c2d",
        "g": "ed63855a7b62263b",
        "name": "Output 3",
        "showStatusActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "unitid": "",
        "dataType": "Coil",
        "adr": "2",
        "quantity": "1",
        "server": "43b5b9c54e908a3a",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 820,
        "y": 220,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "a77fa64fa6960de1",
        "type": "modbus-write",
        "z": "fdf74b56c6748c2d",
        "g": "ed63855a7b62263b",
        "name": "Output 4",
        "showStatusActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "unitid": "",
        "dataType": "Coil",
        "adr": "3",
        "quantity": "1",
        "server": "43b5b9c54e908a3a",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 820,
        "y": 260,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "4c60a4c02c674654",
        "type": "modbus-write",
        "z": "fdf74b56c6748c2d",
        "g": "ed63855a7b62263b",
        "name": "Output 5",
        "showStatusActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "unitid": "",
        "dataType": "Coil",
        "adr": "4",
        "quantity": "1",
        "server": "43b5b9c54e908a3a",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 820,
        "y": 300,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "76aead7bd00dc6c0",
        "type": "modbus-write",
        "z": "fdf74b56c6748c2d",
        "g": "ed63855a7b62263b",
        "name": "Output 6",
        "showStatusActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "unitid": "",
        "dataType": "Coil",
        "adr": "5",
        "quantity": "1",
        "server": "43b5b9c54e908a3a",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 820,
        "y": 340,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "60dac7be4c0ae9b8",
        "type": "modbus-write",
        "z": "fdf74b56c6748c2d",
        "g": "ed63855a7b62263b",
        "name": "Output 7",
        "showStatusActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "unitid": "",
        "dataType": "Coil",
        "adr": "6",
        "quantity": "1",
        "server": "43b5b9c54e908a3a",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 820,
        "y": 380,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "500645bca5d40d97",
        "type": "modbus-write",
        "z": "fdf74b56c6748c2d",
        "g": "ed63855a7b62263b",
        "name": "Output 8",
        "showStatusActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "unitid": "",
        "dataType": "Coil",
        "adr": "7",
        "quantity": "1",
        "server": "43b5b9c54e908a3a",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 820,
        "y": 420,
        "wires": [
            [],
            []
        ]
    }
]